<section class="artilharia-wrapper">
  <h2 class="gui-text-section-title artilharia-header-titulo">Principais Artilheiros</h2>
  <div class="ranking">
    <div class="ranking-wrapper">
      <div class="ranking-header">
        <div>Ranking</div>
        <div class="ranking-headerGols">Gols</div>
      </div>
      <div class="ranking-content">
        <div class="ranking-item-wrapper">
          <div class="ranking-item"> 1</div>
          <div class="jogador">
            <div class="jogador-foto">
              <img src="/assets/no_image_jogador.png" width="50" height="50" alt="Harry Kane">
            </div>
            <div class="jogador-escudo">
              <img src="/assets/no_image.png" width="30" height="30" alt="Inglaterra">
            </div>
            <div class="jogador-info">
              <div class="jogador-nome">Harry Kane</div>
              <div class="jogador-posicao">Atacante</div>
            </div>
            <div class="jogador-gols"> 6</div>
          </div>
        </div>
        <div class="ranking-item-wrapper">
          <div class="ranking-item"> 2</div>
          <div class="jogador">
            <div class="jogador-foto">
              <img src="/assets/no_image_jogador.png" width="50" height="50" alt="Griezmann">
            </div>
            <div class="jogador-escudo">
              <img src="/assets/no_image.png" width="30" height="30" alt="França"></div>
            <div class="jogador-info">
              <div class="jogador-nome">Griezmann</div>
              <div class="jogador-posicao">Atacante</div>
            </div>
            <div class="jogador-gols"> 4</div>
          </div>
        </div>
        <div class="ranking-item-wrapper">
          <div class="ranking-item"></div>
          <div class="jogador">
            <div class="jogador-foto">
              <img src="/assets/no_image_jogador.png" width="50" height="50" alt="Cristiano Ronaldo">
            </div>
            <div class="jogador-escudo">
              <img src="/assets/no_image.png" width="30" height="30" alt="Portugal">
            </div>
            <div class="jogador-info">
              <div class="jogador-nome">Cristiano Ronaldo</div>
              <div class="jogador-posicao">Atacante</div>
            </div>
            <div class="jogador-gols"> 4</div>
          </div>
        </div>
        <div class="ranking-item-wrapper">
          <div class="ranking-item"> 3</div>
          <div class="jogador">
            <div class="jogador-foto">
              <img src="/assets/no_image_jogador.png" width="50" height="50" alt="Mina">
            </div>
            <div class="jogador-escudo">
              <img src="/assets/no_image.png" width="30" height="30" alt="Colômbia">
            </div>
            <div class="jogador-info">
              <div class="jogador-nome">Mina</div>
              <div class="jogador-posicao">Zagueiro Direito</div>
            </div>
            <div class="jogador-gols"> 3</div>
          </div>
        </div>
        <div class="ranking-item-wrapper">
          <div class="ranking-item"></div>
          <div class="jogador">
            <div class="jogador-foto">
              <img src="/assets/no_image_jogador.png" width="50" height="50" alt="Cristiano Ronaldo">
            </div>
            <div class="jogador-escudo">
              <img src="/assets/no_image.png" width="30" height="30" alt="Portugal">
            </div>
            <div class="jogador-info">
              <div class="jogador-nome">Cristiano Ronaldo</div>
              <div class="jogador-posicao">Atacante</div>
            </div>
            <div class="jogador-gols"> 4</div>
          </div>
        </div>
        <div class="ranking-item-wrapper">
          <div class="ranking-item"></div>
          <div class="jogador">
            <div class="jogador-foto">
              <img src="/assets/no_image_jogador.png" width="50" height="50" alt="Cristiano Ronaldo">
            </div>
            <div class="jogador-escudo">
              <img src="/assets/no_image.png" width="30" height="30" alt="Portugal">
            </div>
            <div class="jogador-info">
              <div class="jogador-nome">Cristiano Ronaldo</div>
              <div class="jogador-posicao">Atacante</div>
            </div>
            <div class="jogador-gols"> 4</div>
          </div>
        </div>
      </div>
    </div> <!-- ranking wrapper -->
  </div> <!-- ranking -->
</section>