<div class="chave-jogo chave-1-jogos chave-jogo-com-chave-anterior">
  <%= render :partial => 'placar_jogo', locals: {match: match} %>
  <div class="chave-jogo-conector-anterior"></div>
  <div class="chave-jogo-separador">
    <div class="chave-jogo-nome-centralizador"><span class="chave-jogo-nome"><%= group.name %></span></div>
  </div>
</div>