@font-face {
    font-family: opensans-bastian;
    font-style: normal;
    font-weight: 300;
    src: url(//s3.glbimg.com/cdn/fonts/opensans/light.woff2) format("woff2"), url(//s3.glbimg.com/cdn/fonts/opensans/light.woff) format("woff"), url(//s3.glbimg.com/cdn/fonts/opensans/light.ttf) format("truetype")
}

@font-face {
    font-family: opensans-bastian;
    font-style: normal;
    font-weight: 400;
    src: url(//s3.glbimg.com/cdn/fonts/opensans/regular.woff2) format("woff2"), url(//s3.glbimg.com/cdn/fonts/opensans/regular.woff) format("woff"), url(//s3.glbimg.com/cdn/fonts/opensans/regular.ttf) format("truetype")
}

@font-face {
    font-family: opensans-bastian;
    font-style: normal;
    font-weight: 600;
    src: url(//s3.glbimg.com/cdn/fonts/opensans/semibold.woff2) format("woff2"), url(//s3.glbimg.com/cdn/fonts/opensans/semibold.woff) format("woff"), url(//s3.glbimg.com/cdn/fonts/opensans/semibold.ttf) format("truetype")
}

@font-face {
    font-family: opensans-bastian;
    font-style: normal;
    font-weight: 700;
    src: url(//s3.glbimg.com/cdn/fonts/opensans/bold.woff2) format("woff2"), url(//s3.glbimg.com/cdn/fonts/opensans/bold.woff) format("woff"), url(//s3.glbimg.com/cdn/fonts/opensans/bold.ttf) format("truetype")
}

@font-face {
    font-family: proximanova-bastian;
    font-style: normal;
    font-weight: 400;
    src: url(//s3.glbimg.com/cdn/fonts/proximanova/regular.woff2) format("woff2"), url(//s3.glbimg.com/cdn/fonts/proximanova/regular.woff) format("woff"), url(//s3.glbimg.com/cdn/fonts/proximanova/regular.ttf) format("truetype")
}

@font-face {
    font-family: proximanova-bastian;
    font-style: normal;
    font-weight: 700;
    src: url(//s3.glbimg.com/cdn/fonts/proximanova/bold.woff2) format("woff2"), url(//s3.glbimg.com/cdn/fonts/proximanova/bold.woff) format("woff"), url(//s3.glbimg.com/cdn/fonts/proximanova/bold.ttf) format("truetype")
}

#bstn-rtcl, .bstn-dtq, .bstn-fd {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

.bstn-dtqs {
    display: block
}

.bstn-dtq {
    background: #fff;
    background-size: 0;
    height: 100%;
    overflow: hidden;
    position: relative
}

.bstn-dtq:first-child {
    display: block
}

.with-photo:before {
    background-color: #000;
    background-image: var(--bstn-dtq-cover);
    background-position: 50%;
    background-size: cover;
    bottom: 0;
    content: "";
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.with-photo:after {
    background: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .2) 80%, rgba(0, 0, 0, .4));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.bstn-dtq-list {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 16px;
    position: absolute;
    right: 24px;
    top: 20px;
    z-index: 2
}

.bstn-dtq-itemlist {
    flex-shrink: 1
}

.bstn-dtq-spaceritem, .no-photo .bstn-dtq-list:after {
    content: "";
    flex-grow: 1
}

.bstn-dtq-relateditem {
    position: relative
}

.bstn-dtq-mainitem + .bstn-dtq-relateditem {
    margin-top: 12px
}

.with-photo .bstn-dtq-mainitem + .bstn-dtq-relateditem {
    margin-top: 25px
}

.bstn-dtq-relateditem + .bstn-dtq-relateditem {
    margin-top: 8px
}

.with-photo .bstn-dtq-list > :last-child, .with-video .bstn-dtq-list > :last-child {
    margin-bottom: 20px
}

.model-2 .with-photo:nth-child(2) .bstn-dtq-mainitem + .bstn-dtq-relateditem:before, .with-photo:first-child .bstn-dtq-mainitem + .bstn-dtq-relateditem:before {
    background: hsla(0, 0%, 84.7%, .3);
    content: "";
    height: 1px;
    margin-top: -12px;
    position: absolute;
    right: -51%;
    width: 150%
}

.bstn-dtq-link {
    display: block
}

.bstn-dtq-relateditem .bstn-dtq-link {
    display: inline-block;
    padding: 0 0 0 20px
}

.bstn-dtq-relateditem .bstn-dtq-link:before {
    background: #666;
    border-radius: 100%;
    content: "";
    height: 3px;
    margin: 9px 10px 0 -15px;
    position: absolute;
    width: 3px
}

.with-photo .bstn-dtq-relateditem .bstn-dtq-link:before {
    background: #fff;
    height: 2px;
    opacity: .8;
    width: 2px
}

.bstn-dtq-video {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.bstn-dtq-duration {
    bottom: 0;
    color: #fff;
    font-family: opensans, opensans-bastian, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.8px;
    margin-bottom: 24px;
    position: absolute;
    right: 0
}

.bstn-dtq-chapeu {
    color: #333;
    display: block;
    font-family: proximanova, proximanova-bastian, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-shadow: none;
    text-transform: uppercase
}

.with-photo .bstn-dtq-chapeu {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.bstn-dtq-chapeu:after {
    margin: 15px 0 0
}

.bstn-dtq-chapeuitem .bstn-aovivo-label {
    margin: 0
}

.bstn-dtq-title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 28px;
    margin: auto 0;
    text-decoration: none
}

.bstn-dtq-relateditem .bstn-dtq-title, .bstn-dtq-title {
    font-family: opensans, opensans-bastian, Arial, sans-serif
}

.bstn-dtq-relateditem .bstn-dtq-title {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 18px;
    vertical-align: top
}

.with-photo .bstn-dtq-title, .with-summary .bstn-dtq-title {
    margin-top: auto
}

.bstn-dtqs:not(.variation-uber) .with-photo .bstn-dtq-relateditem .bstn-dtq-title, .with-photo .bstn-dtq-mainitem .bstn-dtq-title {
    color: #fff !important;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8)
}

.with-video .bstn-dtq-title {
    margin-right: 63px
}

.with-photo.with-related .bstn-dtq-mainitem .bstn-dtq-title, .with-photo.with-summary .bstn-dtq-mainitem .bstn-dtq-title, .with-photo.with-video .bstn-dtq-mainitem .bstn-dtq-title {
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 24px
}

.with-video .bstn-dtq-relateditem .bstn-dtq-title {
    margin-right: 15px
}

.type-enquete .bstn-dtq-title:after {
    border: 0;
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .2);
    color: #fff;
    content: "VOTE AGORA";
    display: block;
    font-family: proximanova, proximanova-bastian, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.2px;
    line-height: 16px;
    margin-top: 21px;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    text-shadow: none;
    width: 126px
}

.bstn-dtq-summary {
    color: #333 !important;
    display: block;
    font-family: opensans, opensans-bastian, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 20px;
    margin: 8px 0 auto
}

.with-photo .bstn-dtq-summary {
    color: #fff !important;
    margin-top: 12px
}

.type-enquete .bstn-dtq-summary {
    display: none
}

#feed-placeholder, .feed-root {
    position: relative
}

.bstn-fd, .bstn-feed {
    font-size: 16px;
    overflow: hidden
}

.bastian-page[data-index="0"] {
    margin-bottom: 16px
}

.post-notifier-pushstream {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    color: #fff;
    cursor: pointer;
    font-family: proximanova, proximanova-bastian, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    left: 50%;
    letter-spacing: 0;
    line-height: 11px;
    margin-left: -81px;
    padding: 10px 20px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    top: -300px;
    transition: top .25s ease-out;
    white-space: nowrap;
    width: 162px;
    z-index: 99
}

.post-notifier-pushstream span {
    background-color: #fff;
    border-radius: 10px;
    color: #333;
    display: inline-block;
    margin-right: 4px;
    padding: 4px 6px 3px
}

.notify-pushstream {
    animation-duration: .3s;
    animation-name: notify-pushstream;
    animation-timing-function: linear;
    display: inline-block;
    top: 16px
}

@keyframes notify-pushstream {
    0% {
        transform: scale(0)
    }
    80% {
        transform: scale(1.1)
    }
    to {
        transform: scale(1)
    }
}

@keyframes pulsating-notification {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    to {
        transform: scale(1)
    }
}

.notify-pulse {
    animation: pulsating-notification .3s;
    display: inline-block;
    top: 16px
}

.bstn-fd-visible-top {
    position: absolute;
    top: 6px
}

.bstn-item-shape {
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

#bstn-rtcl .bstn-item-shape {
    border: 1px solid #e6e6e6
}

.bstn-item-shape:empty {
    margin-top: 0
}

#bstn-rtcl .bastian-feed-item[data-index="1"] > .bstn-item-shape, .bastian-page[data-index="0"] .bastian-feed-item[data-index="1"] > .bstn-item-shape, .bastian-page[data-index="1"] .bastian-feed-item[data-index="1"] > .bstn-item-shape {
    margin-top: 0
}

.bstn-feed .bastian-card-mobile {
    border: 0;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    padding: 0
}

.tag-manager-publicidade-banner_feed_esppub--visivel .tag-manager-publicidade-banner_feed_esppub {
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.type-esppub .feed-post-body {
    padding-bottom: 0
}

.post-header-special-advertising > div {
    display: inline
}

.feed-post-header .gui-text-special-advertising {
    background-color: #fa0;
    border-radius: 3px;
    box-sizing: content-box;
    color: #fff;
    cursor: default;
    font-family: proximanova, proximanova-bastian, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 14px;
    letter-spacing: 0;
    margin-top: 4px;
    padding: 3px 5px 2px;
    text-transform: uppercase
}

.feed-post-header-special-advertising-logo {
    float: right;
    height: 27px;
    margin-left: 11px
}

.special-advertising-logo {
    max-height: 27px;
    max-width: 105px
}

.feed-post-advertising-title {
    font-style: italic
}

.feed-post-figure-link {
    display: block
}

.standalone .bstn-fd-item-cover {
    margin: 0
}

.variation-uber .bstn-fd-item-cover {
    padding-top: 100%
}

.variation-uber .bstn-fd-cover-picture {
    left: -50%
}

.variation-uber .bstn-fd-picture-image {
    width: auto
}

.bstn-fd-item-cover:before {
    background: linear-gradient(0deg, rgba(0, 0, 0, .05), transparent);
    bottom: 0;
    content: "";
    height: 4px;
    position: absolute;
    width: 100%;
    z-index: 1
}

.bstn-fd-item-cover:after {
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, .05));
    content: "";
    height: 4px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.feed-post-video-duration {
    background-color: #000;
    border-radius: 4px;
    bottom: 12px;
    color: #fff;
    font-family: opensans, opensans-bastian, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 12px;
    padding: 4px 8px;
    position: absolute;
    right: 16px;
    text-transform: lowercase;
    z-index: 2
}

.feed-post-video-trademark {
    border-radius: 0 !important;
    display: block;
    margin: 16px 16px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 53px !important;
    z-index: 2
}

.bstn-fd-video-cover .gradient {
    background-color: rgba(0, 0, 0, .33);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.bstn-fd-video-play {
    bottom: 0;
    height: 20%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.bstn-fd-play-icon {
    fill: #fff;
    height: 100%;
    width: 100%
}

.feed-post-header {
    font-family: opensans, opensans-bastian, Arial, sans-serif;
    font-weight: 600
}

.bstn-aovivo-label {
    animation: pulse 2s infinite;
    font-family: proximanova, proximanova-bastian, Arial, sans-serif;
    font-weight: 700
}

.bstn-dtq .bstn-aovivo-label {
    margin: -4px 0 0
}

.bstn-fd-item-cover .bstn-aovivo-label {
    bottom: 0;
    margin: 13px;
    position: absolute;
    right: 0
}

@keyframes pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

.feed-post-body-title {
    font-weight: 700
}

.feed-post-body-resumo, .feed-post-body-title {
    font-family: opensans, opensans-bastian, Arial, sans-serif
}

.feed-post-body-resumo {
    font-weight: 400
}

.feed-post-time {
    display: block;
    flex: 0 0 0;
    margin-left: 4px;
    white-space: nowrap
}

.feed-post-time-icon {
    display: none
}

.with-post-chapeu .feed-post-time-icon {
    color: #999;
    display: inline-block;
    margin-right: 4px;
    margin-top: -2px;
    speak: none;
    vertical-align: middle
}

.feed-post-time-icon:before {
    content: "\B7";
    display: block;
    font-size: 24px;
    height: 3px;
    line-height: 3px
}

.feed-post-time-label {
    color: #999;
    display: inline-block;
    font-family: proximanova, proximanova-bastian, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase
}

.feed-post-metadata {
    font-family: opensans, opensans-bastian, Arial, sans-serif;
    font-weight: 400
}

.variation-uber .bstn-relateditem {
    display: grid;
    grid-auto-columns: 90px;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-top: 24px
}

.variation-uber .bstn-fd-relatedimage {
    grid-column: 2
}

.variation-uber .bstn-fd-relatedthumb {
    width: 100%
}

.variation-uber .bstn-fd-relatedtext {
    grid-row: 1
}

.variation-uber .bstn-relatedtext {
    margin-top: 0
}

.label-tempo-real {
    background: #3b9c00;
    border-radius: 0;
    color: #fff;
    display: inline;
    display: inline-flex;
    font-size: 11px;
    height: 32px;
    justify-content: space-between;
    left: 0;
    position: absolute;
    transform: none;
    width: 100%;
    z-index: 2
}

.label-tempo-real .icon {
    font-size: 15px;
    height: 15px;
    margin: 0 9px 0 0;
    width: 15px
}

.label-tempo-real .text {
    align-items: center;
    background: #3b9c00;
    display: flex;
    font-family: proximanova, proximanova-bastian, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    justify-content: flex-start;
    margin-left: 16px;
    min-width: 89px;
    padding: 10px 0 10px 16px;
    text-transform: uppercase
}

.label-tempo-real .count {
    align-items: inherit;
    align-items: center;
    background: #267700;
    display: flex;
    font-family: opensans, opensans-bastian, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    justify-content: center;
    min-width: 30%;
    padding: 0 10px
}

.bstn-dtq.type-eventos-esportivos .bstn-dtq-chapeu {
    display: none
}

.scoreboard-bastian-feed {
    border-bottom: 1px solid #e6e6e6;
    color: #888;
    display: block;
    font-family: proximanova, proximanova-bastian, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 16px;
    margin-top: 10px;
    position: relative
}

.scoreboard-bastian-feed .scoreboard-away-team, .scoreboard-bastian-feed .scoreboard-home-team {
    display: inline-block
}

.scoreboard-bastian-feed .scoreboard-away-team > *, .scoreboard-bastian-feed .scoreboard-home-team > * {
    vertical-align: middle
}

.scoreboard-bastian-feed .shortName {
    display: inline-block;
    margin-top: 5px
}

.scoreboard-bastian-feed .score {
    align-items: center;
    display: inline-flex;
    margin: 0 8px;
    vertical-align: middle
}

.scoreboard-bastian-feed .score svg {
    margin: 0 4px
}

.scoreboard-bastian-feed.destaque {
    border-bottom: none;
    width: 100%
}

.scoreboard-bastian-feed.destaque .shortName {
    color: #fff;
    font-size: 20px
}

.scoreboard-bastian-feed.destaque .score-penalties {
    color: #fff
}

.scoreboard-bastian-feed.destaque .penalties-number, .scoreboard-bastian-feed.destaque .score-number {
    color: #fff;
    font-size: 48px;
    height: 32px;
    width: 32px
}

.scoreboard-bastian-feed.destaque .versus {
    fill: #fff
}

.scoreboard-bastian-feed.destaque .crest {
    height: 60px
}

.scoreboard-bastian-feed.destaque .score svg {
    height: 24px;
    width: 24px
}

.scoreboard-bastian-feed .penalties-number, .scoreboard-bastian-feed .score-number {
    color: #333;
    font-family: opensans, opensans-bastian, Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    font-weight: 700;
    line-height: 30px
}

.scoreboard-bastian-feed .penalties-number {
    font-size: 16px
}

.scoreboard-bastian-feed .crest {
    height: 36px;
    margin: 0 8px
}

.scoreboard-bastian-feed .versus {
    fill: #999
}

.bastian-feed-item .scoreboard-bastian-feed .score {
    align-items: center;
    display: inline-flex
}

.bastian-feed-item .scoreboard-bastian-feed .score .score-penalties {
    letter-spacing: 3px;
    padding: 4px 0 0
}

.bastian-feed-item .scoreboard-bastian-feed .score .svg {
    margin-top: 2px
}

.bstn-dtqs .scoreboard-bastian-feed.destaque {
    align-items: center;
    display: inline-flex;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8)
}

.bstn-dtqs .scoreboard-bastian-feed.destaque .score-number {
    width: auto
}

.bstn-dtqs .scoreboard-bastian-feed.destaque .score {
    align-items: center;
    display: inline-flex
}

.bstn-dtqs .scoreboard-bastian-feed.destaque svg {
    -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .8));
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .8))
}

.no-photo .scoreboard-bastian-feed.destaque {
    color: #000;
    text-shadow: none
}

.no-photo .scoreboard-bastian-feed.destaque .versus {
    fill: #999
}

.no-photo .scoreboard-bastian-feed.destaque .shortName {
    color: #888
}

.no-photo .scoreboard-bastian-feed.destaque svg {
    -webkit-filter: none;
    filter: none
}

.bstn-dtq .score-penalties {
    letter-spacing: 4px;
    line-height: 32px;
    margin-left: 4px
}

.bstn-dtq .score .score-number:last-child {
    text-align: left
}

.bstn-dtqs .is-half-size .scoreboard-bastian-feed.destaque .crest {
    height: 45px
}

.bstn-dtqs .is-half-size .scoreboard-bastian-feed.destaque .penalties-number, .bstn-dtqs .is-half-size .scoreboard-bastian-feed.destaque .score-number {
    font-size: 30px
}

.bstn-dtqs .is-half-size .scoreboard-bastian-feed.destaque .shortName {
    font-size: 20px
}

.highlights-bastian-feed {
    display: block;
    max-height: 100px;
    position: relative;
    transition: max-height 1s cubic-bezier(.15, .95, .31, 1.02)
}

.highlights-bastian-feed:hover {
    max-height: 230px
}

.highlights-bastian-feed .highlight-bastian-feed.destaque {
    display: none
}

.highlights-bastian-feed .highlight-bastian-feed.destaque:before {
    background: #fff;
    content: "";
    height: calc(100% + 20px);
    left: -2px;
    position: absolute;
    top: 10px;
    width: 1px
}

.highlights-bastian-feed .highlight-bastian-feed.destaque:after {
    background: #fff;
    border-radius: 50%;
    content: "";
    height: 5px;
    left: -4px;
    position: absolute;
    top: 8px;
    width: 5px
}

.highlights-bastian-feed .highlight-bastian-feed.destaque:first-child {
    display: block
}

.highlights-bastian-feed:hover .bastian-feed-show-temporeal-link, .highlights-bastian-feed:hover .highlight-bastian-feed.destaque {
    display: block
}

.highlights-bastian-feed:hover .highlight-bastian-feed.destaque:nth-last-child(2):before {
    height: calc(100% + 5px)
}

.bstn-dtqs .is-half-size .highlights-bastian-feed {
    margin-top: 15px
}

.bstn-dtqs .is-half-size .highlights-bastian-feed .bastian-feed-show-temporeal-link, .bstn-dtqs .is-half-size .highlights-bastian-feed .highlight-bastian-feed.destaque {
    display: none
}

.bstn-dtqs .is-half-size .highlights-bastian-feed .bastian-feed-show-temporeal-link:first-child, .bstn-dtqs .is-half-size .highlights-bastian-feed .highlight-bastian-feed.destaque:first-child {
    display: block
}

.bstn-dtqs .is-half-size .highlights-bastian-feed, .no-photo .highlights-bastian-feed {
    max-height: none
}

.no-image .highlights-bastian-feed .highlight-bastian-feed.destaque {
    background: #777;
    display: block
}

.bastian-feed-show-temporeal-link {
    color: #fff;
    display: none;
    font-family: opensans, opensans-bastian, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -.1px;
    margin-top: 6px;
    padding-bottom: 10px;
    padding-left: 12px;
    position: relative;
    text-transform: uppercase
}

.bastian-feed-show-temporeal-link:before {
    background: #fff;
    border-radius: 50%;
    bottom: 15px;
    content: "";
    height: 7px;
    left: -5px;
    position: absolute;
    width: 7px
}

.bastian-feed-show-temporeal-link:after {
    bottom: -3px;
    content: "\2192";
    font-size: 18px;
    padding-left: 6px;
    position: relative
}

.no-photo .bastian-feed-show-temporeal-link {
    color: #000;
    display: block;
    max-height: auto
}

.no-photo .bastian-feed-show-temporeal-link:before {
    background: #777
}

.highlight-bastian-feed {
    font-family: opensans, opensans-bastian, Arial, sans-serif;
    font-weight: 400
}

.highlight-bastian-feed .text .title {
    font-weight: 700
}

.highlight-bastian-feed .text .title:after {
    content: "\B7";
    display: inline-block;
    font-size: 22px;
    height: 9px;
    line-height: 7px;
    margin: 0 4px;
    vertical-align: middle;
    width: 5px
}

.highlight-bastian-feed.destaque {
    margin-top: 6px;
    padding-left: 12px;
    position: relative;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8)
}

.highlight-bastian-feed.destaque .text {
    color: #fff
}

.highlight-bastian-feed.destaque .time {
    font-weight: 700
}

.no-photo .highlight-bastian-feed.destaque {
    border-left: 1px solid #fff;
    display: block;
    text-shadow: none
}

.no-photo .highlight-bastian-feed.destaque .text {
    color: #000
}

.no-photo .highlight-bastian-feed.destaque:after, .no-photo .highlight-bastian-feed.destaque:before {
    background: #777
}

.bstn-dtqs .highlights-bastian-feed {
    margin-top: 50px
}

.bstn-dtqs .highlights-bastian-feed .time {
    color: #fff;
    text-transform: uppercase
}

.bstn-dtqs .no-image .highlights-bastian-feed .time {
    color: #999
}

.load-more {
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.load-more a {
    font-family: proximanova, proximanova-bastian, Arial, sans-serif;
    font-weight: 700
}

.load-more:hover a {
    color: #fff
}

#bstn-rtcl > :first-child:not(:empty) {
    margin-bottom: 40px
}

.gui-navigation-dots {
    font-size: 16px
}

.showtime__wrapper {
    padding-bottom: 0
}

.bstn-fd .tag-manager-publicidade-container--visivel {
    margin: 16px auto 0
}

#bstn-rtcl .tag-manager-publicidade-container--visivel {
    margin: 32px auto 0
}

#bstn-rtcl .tag-manager-publicidade-container--visivel iframe, .bstn-fd .tag-manager-publicidade-container--visivel iframe {
    background: #ccc
}

.bastian-feed-item .card-gutter {
    border: 0;
    padding: 0
}

.bastian-feed-item .borderless-inside-feed {
    border: 0 !important
}

.bastian-feed-item .borderless-inside-feed-h {
    border-left: 0 !important;
    border-right: 0 !important
}

.bastian-feed-item .borderless-inside-feed-v {
    border-right: 0 !important;
    border-top: 0 !important
}

.bastian-feed-item .gui-card {
    box-shadow: none;
    margin-bottom: 0
}

.bastian-feed-item .gui-card-content, .bastian-feed-item .gui-card-footer {
    border: 0
}

@media (max-width: 539px) {
    .with-post-chapeu .feed-post-time-icon {
        display: none
    }

    .scoreboard-bastian-feed {
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 16px;
        margin-top: 10px;
        padding-bottom: 16px;
        width: 100%
    }

    .scoreboard-bastian-feed .scoreboard-bastian-feed {
        min-height: 36px;
        padding-bottom: 16px
    }

    .scoreboard-bastian-feed.destaque .shortName {
        display: none
    }

    .scoreboard-bastian-feed .score {
        left: calc(50% - 8px);
        position: absolute;
        top: 50%;
        transform: translate(-50%, calc(-50% - 8px))
    }

    .scoreboard-bastian-feed .scoreboard-away-team {
        position: absolute;
        right: 0
    }

    .scoreboard-bastian-feed .score-number {
        display: inline-block;
        text-align: right;
        width: 30px
    }

    .scoreboard-bastian-feed .score-number:last-child {
        text-align: left
    }

    .scoreboard-bastian-feed .score-penalties {
        margin-left: 4px
    }

    .scoreboard-bastian-feed .score-penalties:nth-last-child(2) {
        margin-right: 4px
    }

    .scoreboard-bastian-feed .bstn-dtqs .scoreboard-bastian-feed.destaque .crest {
        height: 45px
    }

    .scoreboard-bastian-feed > * {
        display: none
    }

    .bstn-dtqs .highlights-bastian-feed {
        border-bottom: none
    }

    .post-tr-spectators {
        margin-left: 4px
    }

    #header-produto {
        z-index: 2
    }
}

@media (min-width: 540px) {
    .bstn-dtq {
        border: 1px solid #e1e1e1;
        border-radius: 3px
    }

    .bstn-dtq.with-photo {
        border: 0
    }

    .bstn-dtq-list {
        bottom: 0;
        left: 24px;
        position: absolute;
        right: 48px;
        top: 24px
    }

    .with-photo .bstn-dtq-list > :last-child, .with-video .bstn-dtq-list > :last-child {
        margin-bottom: 24px
    }

    .bstn-dtq-chapeu {
        font-size: 16px
    }

    .model-1 .with-video .bstn-dtq-title {
        margin-right: 0
    }

    .bstn-dtq-mainitem .bstn-dtq-title {
        font-size: 40px !important;
        letter-spacing: -2.5px !important;
        line-height: 44px !important
    }

    .bstn-dtq-relateditem .bstn-dtq-title {
        font-size: 16px;
        letter-spacing: -.8px;
        line-height: 24px
    }

    .model-2 .with-photo:nth-child(2) .bstn-dtq-mainitem + .bstn-dtq-relateditem:before, .with-photo:first-child .bstn-dtq-mainitem + .bstn-dtq-relateditem:before {
        left: -51%
    }

    .bstn-dtq-relateditem .bstn-dtq-link:before {
        background: #666;
        height: 5px;
        margin-top: 10px;
        width: 5px
    }

    .with-photo .bstn-dtq-relateditem .bstn-dtq-link:before {
        margin-top: 12px
    }

    .bstn-dtq-summary {
        font-size: 16px;
        letter-spacing: -.8px;
        line-height: 24px;
        margin-top: 25px
    }

    .bastian-page[data-index="0"] {
        margin-bottom: 32px
    }

    .bstn-fd .bstn-item-shape:empty {
        margin-top: 0
    }

    #bstn-rtcl .bastian-feed-item[data-index="1"] .bstn-item-shape, .bstn-fd .bastian-page[data-index="0"] .bastian-feed-item[data-index="1"] .bstn-item-shape, .bstn-fd .bastian-page[data-index="1"] .bastian-feed-item[data-index="1"] .bstn-item-shape {
        margin-top: 0
    }

    #bstn-rtcl .bstn-item-shape {
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05)
    }

    .bstn-fd > :nth-child(2) > :last-child .bastian-page > :first-child > :last-child .feed-post:after {
        background-color: transparent
    }

    .bstn-fd-item-cover {
        border-radius: 3px;
        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .1)
    }

    .feed-post-video-duration {
        bottom: 0;
        line-height: 22px;
        margin: 13px;
        right: 0
    }

    .feed-post-video-trademark {
        margin: 15px;
        width: 15%;
        z-index: 10
    }

    .bstn-fd-video-cover:before {
        content: normal;
        display: none
    }

    .feed-post-metadata {
        font-family: proximanova, proximanova-bastian, Arial, sans-serif;
        font-weight: 400
    }

    .feed-post-metadata > :after {
        content: "\FF65"
    }

    .bstn-face-temporeal {
        grid-template-rows: repeat(7, auto)
    }

    .bstn-face-temporeal .feed-media-wrapper {
        grid-row: 1/span 7
    }

    .bstn-face-temporeal .highlight-bastian-feed {
        grid-column: 2;
        margin: 4px 0 0
    }

    .bstn-face-temporeal .highlight-bastian-feed .time {
        margin-bottom: 4px
    }

    .bstn-face-temporeal .scoreboard-bastian-feed {
        border: 0;
        grid-column: 2;
        margin: 0
    }

    .tag-manager-publicidade-banner_feed_esppub--visivel .tag-manager-publicidade-banner_feed_esppub {
        margin: 0;
        overflow: visible
    }

    .iframe-especial-publicitario .feed-post {
        padding-bottom: 0 !important
    }

    .iframe-especial-publicitario .feed-post:after {
        content: normal
    }

    .type-esppub .feed-post-header {
        padding: 0 2px 2px 0
    }

    .post-header-special-advertising {
        max-width: 100%;
        top: 22px;
        width: 100%
    }

    .feed-post-header .gui-text-special-advertising {
        border-radius: 2px;
        box-sizing: border-box;
        font-size: 14px;
        height: 24px;
        margin-top: 0;
        padding: 4px 5px 3px
    }

    #banner_slb_meio:not(:empty) {
        margin-top: 64px
    }

    .bs-home #banner_slb_meio {
        margin-top: 0
    }

    .bstn-fd .tag-manager-publicidade-container {
        display: none
    }

    .bstn-fd .tag-manager-publicidade-container--visivel {
        display: block;
        margin: 32px 0 0;
        overflow: visible;
        width: auto
    }

    .bstn-fd .tag-manager-publicidade-container--visivel iframe {
        background: none
    }

    .bstn-fd .tag-manager-publicidade-container--visivel:after {
        background-color: #c8c8c8;
        content: "";
        display: block;
        height: 1px;
        margin-top: 32px
    }

    .bstn-feed .bastian-card-mobile {
        margin: 32px 0 0
    }

    .load-more {
        margin: 0 auto
    }
}

@media (min-width: 1000px) {
    .model-3 .bstn-dtq:first-child {
        grid-row: span 2
    }

    .bstn-dtq:not(:first-child) {
        display: block;
        grid-column: 2
    }

    .bstn-dtq.with-photo:before {
        transition: transform .35s ease
    }

    .bstn-dtqs:not(.variation-uber) .bstn-dtq.with-photo:hover:before {
        transform: scale(1.1)
    }

    .is-half-size .bstn-dtq-list {
        bottom: 0
    }

    .model-1 .bstn-dtq-itemlist {
        max-width: 50%
    }

    .is-half-size .bstn-dtq-mainitem + .bstn-dtq-relateditem {
        margin-top: 12px
    }

    .is-half-size .with-photo .bstn-dtq-relateditem + .bstn-dtq-relateditem {
        margin-top: 4px
    }

    .bstn-dtq-title {
        transition: color .35s ease
    }

    .is-half-size .bstn-dtq-mainitem .bstn-dtq-title {
        font-size: 28px !important;
        letter-spacing: -2px !important;
        line-height: 32px !important
    }

    .is-half-size .bstn-dtq-summary {
        margin-top: 8px
    }

    .variation-uber > div {
        height: auto
    }

    .variation-uber .bstn-dtq {
        background: transparent;
        min-height: 585px;
        position: static
    }

    .variation-uber .bstn-dtq:before {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, .8), transparent), var(--bstn-dtq-cover);
        bottom: auto;
        height: 585px;
        top: auto
    }

    .variation-uber .bstn-dtq-list {
        align-items: end;
        bottom: auto;
        display: grid;
        grid-auto-rows: 136px;
        grid-column-gap: 58px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr repeat(2, minmax(auto, -webkit-min-content));
        grid-template-rows: 1fr repeat(2, minmax(auto, min-content));
        height: 585px;
        left: 0;
        position: relative;
        right: 0;
        top: 0
    }

    .variation-uber .with-related .bstn-dtq-list {
        height: 721px
    }

    .variation-uber .bstn-dtq-itemlist {
        margin-bottom: 12px;
        max-width: none
    }

    .variation-uber .bstn-dtq-chapeuitem, .variation-uber .bstn-dtq-mainitem, .variation-uber .bstn-dtq-spaceritem {
        cursor: pointer;
        grid-column: span 3;
        max-width: none
    }

    .variation-uber .bstn-dtq-chapeu {
        font-size: 20px;
        letter-spacing: -.8px;
        text-transform: none
    }

    .variation-uber .bstn-dtq-chapeu:after {
        display: none
    }

    .variation-uber .bstn-dtq-spaceritem {
        align-self: stretch;
        grid-row: 1
    }

    .variation-uber .bstn-dtq-mainitem {
        margin-bottom: 44px
    }

    .variation-uber .bstn-dtq-summary {
        font-size: 24px;
        letter-spacing: -1.1px;
        line-height: 1.38;
        margin-top: 16px
    }

    .variation-uber .bstn-dtq-relateditem {
        align-self: start;
        display: block;
        margin: 0 !important;
        padding-top: 32px
    }

    .variation-uber .bstn-dtq-mainitem + .bstn-dtq-relateditem:before {
        display: none
    }

    .variation-uber .bstn-dtq-relateditem:nth-child(4) {
        grid-column: 1
    }

    .variation-uber .bstn-dtq-relateditem:nth-child(5) {
        grid-column: 2
    }

    .variation-uber .bstn-dtq-relateditem:nth-child(6) {
        grid-column: 3
    }

    .variation-uber .bstn-dtq-relateditem .bstn-dtq-link {
        margin: 0;
        padding: 0
    }

    .variation-uber .bstn-dtq:after {
        bottom: auto;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: auto
    }

    .variation-uber .with-related:after {
        background: #fff;
        border-bottom: 1px solid #ccc;
        display: block;
        height: 137px;
        margin-top: -136px
    }

    .variation-uber .bstn-dtq-mainitem .bstn-dtq-title {
        font-size: 72px !important;
        letter-spacing: -4px !important;
        line-height: 1.17 !important
    }

    .variation-uber .bstn-dtq-relateditem .bstn-dtq-title {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -.6px;
        line-height: 22px
    }

    .variation-uber .bstn-related {
        display: flex
    }

    .variation-uber .bstn-dtq-relateditem .bstn-dtq-link:before {
        display: none
    }

    .variation-uber .bstn-dtq-relatedthumb {
        height: 72px;
        margin-right: 12px;
        width: 128px
    }
}

@media (min-width: 1024px) {
    .notify-pulse, .notify-pushstream {
        top: 105px
    }

    @keyframes notify-pushstream {
        0% {
            top: -300px
        }
        to {
            top: 105px
        }
    }
}